{% extends 'admin/base.html.twig' %}
{% block body %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2> Nouvelle Formation </h2>
            {% include 'admin/degree/_form.html.twig' %}
        </div>
    </div>
</section>

{% endblock %}
