{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 > modif formation </h2>
                {% include 'admin/promotion/_form.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}

